<h1><strong>New task</strong></h1>
<div class="form">
  <%= form_for @task do |f| %>
  <p>
    <%= f.label :title  %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :details  %>
    <%= f.text_field :details %>
  </p>
  <p>
    <%= f.submit "Create Task" %>
    <% end %>
  </p>
</div>
  
<%= link_to "Back to list", tasks_path %>